.box {
	height: 1000px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}
.header {
	height: 300px;
	width: 800px;
}
.nav {
	height: 50px;
	width: 800px;
	background-color:  rgb(147, 183, 237);
	color:  black;
	font-weight: bolder;
}
.content {
	height: 600px;
	width: 800px;
}
.bottom {
	text-align: center;
	height: 40px;
	width: 800px;
	padding-top: 10px;
	background-color: rgb(172, 202, 248);
	color:  black;
	font-weight: bolder;
}
a:link {
	color: black;
	font-weight: bold;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: rgb(172, 202, 248);
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

